html {
    background-color: #778899;
}
.nav.navbar-nav li a {
    font-size:30px;
    font-family:Arial, Helvetica, sans-serif;
    color:black !important;
}
.navbar {
    background-color: #778899;
}
.active {
    background-color: #778899;
}
h1 {
    color:blue;
    font-weight:bold;
}

#levels {
    list-style:none;
}
.containerbg{
    background-color:#778899;
    margin-top:100px;
}
h1 {
    text-align:center;
}
.panel {
    height:500px;
    border-color:green;
    background-color: #DFFFD1;
    border-width:3px;
}
h2 {
    padding-left:20px;
    font-weight:bold;
}
li {
    list-style:none;
    font-size:20px;
}
.resources {
    float:left;
}
.tutoring {
    float:right;
    padding-right:50px;
}
.containerbgWhite{
    background-color:white;
    margin-top:100px;
}


#yellowSideBar{
    width:200px;
    height: 800px;
    background:yellow;
    margin-right: auto;
    text-align: center;
    
}

#grayTutorbox{
    width:200px;
    height: 200px;
    background:gray;
    text-align: center;
    
}